<div class="addcourse">
    <h1> Add Course Details</h1>
<table>

    <tr> <td> Name: </td>
    <td> <input [(ngModel)]="course.course_name" name="course_name" required> </td>
    </tr>
    <tr>
<td>Description: </td>
<td> <input [(ngModel)]="course.course_description" name="course_description" required></td>
    </tr>
    <tr>
<td>Duration: </td>
<td> <input [(ngModel)]="course.duration" name="duration" required></td>
    </tr>

    <tr>
        <button (click)="addCourse()"> Add</button>
    </tr>
</table>
</div>