.updatecourse
{
        top: 50%;
        left: 50%;
        max-width: 550px;
        border-radius: 20px;
        margin: auto;
        box-sizing: border-box;
        background: rgba(0,0,0,0.72);
        padding: 50px;
        line-height: 2;
        border: none;
        font-size: 20px;
        font-family: Times New Roman; 
        background: transparent;
}

.updatecourse input{
    width: 100%;
    background: rgba(0,0,0,0);
    border-bottom: 1px solid;
    font-size: 16px;
    position: relative;
    font-family: Times New Roman;

}

.updatecourse h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
}

.updatecourse button
{
    
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 38px;
    max-width: 600px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: orangered;
    border-radius: 5px;
    padding : 10px 0;
    float: right;
}

#updatebutton
{
    transition-duration: 0.4s;
    margin-left: 200px;
}

#updatebutton:hover
{
    background-color:orangered ;
}